@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
  margin: 0;
  background-color: #e67878;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content {
  background: #83838373;
  color: rgb(255, 255, 255);
  font-family:  Helvetica, sans-serif;
  margin: auto;
  border-radius: 10px;
  width: fit-content;
  padding: 20px 20px;
  font-size: 8px;
  
  -webkit-animation: anvil 0.18s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}


.popup-overlay {
  background: #ffffff;
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup-arrow {
  color:  #ffffff00;
}
[role='tooltip'].popup-content {
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  font-size: 20px;
}

.iconbutton {
  background-color: #83838300;
  color: rgba(240, 248, 255, 0.452);
  border: none;
}

a {
  text-decoration: none;
  color: rgba(240, 248, 255, 0.671);
  transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
}

a:hover { 
  color: aliceblue; 
}

input {
  border: none;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.651);
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}


::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}