@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #493f3f73;
  height: 5vh;
  justify-content: center;
}

nav li button {
  list-style: none;

}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #493f3f73;
  height: 5vh;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar-two {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #493f3f73;
  height: 5vh;
  justify-content: space-evenly;
  align-items: center;
}

.about a {
  margin-right: 50px;
}

body {
  margin: auto;
  padding: 0%;
  margin: 0;
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(82deg, #5eedf5, #9c4ddb);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  -o-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;

}

html {
  height: 100%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.nav-links a {
  margin-left: 40px;
}

.links a {
  padding-right: 50px;

}

#root {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  height: 100%;
}

.popup-content {
  background: #83838373;
  color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  margin: auto;
  border-radius: 10px;
  width: fit-content;
  padding: 20px 20px;
  font-size: 20px;
  -webkit-animation: anvil 0.18s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;

}

img {
  -webkit-animation: anvil 0.18s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

h2 {
  -webkit-animation: anvil 0.18s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-overlay {
  background: #83838373;
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup-arrow {
  color: #83838373
}

[role='tooltip'].popup-content {
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  font-size: 20px;
}

.iconbutton {
  background-color: #83838300;
  color: rgba(240, 248, 255, 0.452);
  border: none;
}

a {
  text-decoration: none;
  color: rgba(240, 248, 255, 0.671);
  transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
}

a:hover {
  color: #7fffd4
}



input {
  border: none;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.651);
  font-family: 'Roboto';
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
  }

  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;

  }
}

::-webkit-scrollbar {
  width: 18px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  display: hidden;
}


::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #858585;
}


.form-button {
  margin-left: 40%;
  border: none;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  margin-top: 20px;
  color: black;
  background-color: aquamarine;
  font-weight: bold;
  transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 6px 6px rgba(29, 29, 29, 0.19), 0 6px 6px rgba(39, 39, 39, 0.23);
}

.form button:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
}

.form-button:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
}

#container {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffc4c4;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100;
  -webkit-animation: anvil 0.18s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  
}


.ql-toolbar.ql-snow {
  background-color: #7fffd4;
  border-radius: 3px;
  border: none !important;
  width: 100%;
  margin-top: 3%;


}

.ql-editor {
  width: 100%;
  min-height: 86vh;
  height: 10px;

}

.single-note-container {
  display: flex;
  width: 88%;
  height: 100%;
  flex-wrap: wrap;
}


.ql-container.ql-snow {
  width: 100%;
  margin-left: 0.00005%;

  height: 86vh;
  box-shadow: 8px 6px 6px rgba(68, 68, 68, 0.164), 0 6px 6px rgba(61, 61, 61, 0.158);
}

.notes {
  margin-bottom: 50px;
}

.save {
  border: none;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  color: black;
  height: 60px;
  width: 100px;
  margin-top: 39%;
  background-color: aquamarine;
  font-weight: bold;
  font-size: large;
  transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 6px 6px rgba(29, 29, 29, 0.19), 0 6px 6px rgba(39, 39, 39, 0.23);
}

.save:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
}

.quill {
  width: 40% !important;
}

.title {
  word-wrap: break-word;
  width: 10%;
  margin-top: 3%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}



.something {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 290px;
  background-color: #747474;
  width: 400px;
  margin-left: 80vh;
  border-radius: 8px;
  padding: 20px;
  color: whitesmoke;

}

/* .something button {
  border: none;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  color: black;
  height: 30px;
  width: 100px;
  margin-top: 10%;
  margin-left: 32%;
  background-color: aquamarine;
  font-weight: bold;
  font-size: small;
  transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 6px 6px rgba(29, 29, 29, 0.19), 0 6px 6px rgba(39, 39, 39, 0.23);
}

.something button:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
} */

.logout {
  border: none;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
  color: black;
  height: 30px;
  width: 100px;
  background-color: aquamarine;
  font-weight: bold;
  font-size: small;
  transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 6px 6px rgba(29, 29, 29, 0.19), 0 6px 6px rgba(39, 39, 39, 0.23);
}

.logout:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #e8aaf5, #a7ddf3);
  color: aliceblue;
  width: 70%;
  height: 95%;
  border-radius: 7px;
  box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.158), 0 6px 6px rgba(0, 0, 0, 0.144);
}

.demo-container h1 {
  margin-bottom: 60px;
}


.demo-image {

  border-radius: 7px;
  box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.158), 0 6px 6px rgba(0, 0, 0, 0.144);
}

.splash-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(82deg, #5eedf5, #9c4ddb);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  -o-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
}

.red:hover {
  background-color: rgb(255, 102, 102);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.splash-image {
  width: 300px;
  margin-top: -220px;
  animation: logo 2s ease-in-out infinite;

}

.splash {

}

.splash-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cccccc2f;
  height: 500px;
  width: 500px;
  border-radius: 9px;
  margin-top: 10px;
  box-shadow: 8px 6px 6px rgba(68, 68, 68, 0.164), 0 6px 6px rgba(61, 61, 61, 0.158);
  

}

.splash {
  margin: 0;
}

.reviews {
  display: flex;
  margin-top: -150px;
  justify-content: space-around;
}

.splash-page h3 {
  width: 70%;
  color: aliceblue;
  line-height: 40px;
}

.white {
  color: white;
}

@keyframes logo {
  0% {
    width: 300px
  }

  50% {
    width: 320px
  }

  100% {
    width: 300px
  }

}