@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #493f3f73;
  height: 5vh;
  justify-content: center;
}
nav  li button {
  list-style: none;

}
body {
  margin: auto;
  padding: 0%;
  margin: 0;
  background-color: #fffbf5;
  font-family: 'Roboto', sans-serif;
  
}

html {
  height: 100%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.nav-links  a {
  margin-left: 40px;
}


#root {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
}

.popup-content {
  background: #83838373;
  color: rgb(255, 255, 255);
  font-family:  Helvetica, sans-serif;
  margin: auto;
  border-radius: 10px;
  width: fit-content;
  padding: 20px 20px;
  font-size: 30px; 
  -webkit-animation: anvil 0.18s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  
}

h2 {
  -webkit-animation: anvil 0.18s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-overlay {
  background:  #83838373;
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup-arrow {
  color:  #83838373
}
[role='tooltip'].popup-content {
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  font-size: 40px;
}

.iconbutton {
  background-color: #83838300;
  color: rgba(240, 248, 255, 0.452);
  border: none;
}

a {
  text-decoration: none;
  color: rgba(240, 248, 255, 0.671);
  transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
}

a:hover { 
  color: #7fffd4
}



input {
  border: none;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.651);
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0; 
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;

  }
}

::-webkit-scrollbar {
  width: 18px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  display: hidden;
}


::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #858585;
}


.form-button {
  margin-left: 40%;
  border: none;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  margin-top: 20px;
  color: black;
  background-color: aquamarine;
  font-weight: bold;
  transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 6px 6px rgba(29, 29, 29, 0.19), 0 6px 6px rgba(39, 39, 39, 0.23);
}

.form button:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
}

.form-button:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
}

#container {
  display: flex;
  justify-content: space-evenly;
  background-color: #ebebeb;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100;
  -webkit-animation: anvil 0.18s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}


.ql-toolbar.ql-snow {
  background-color: #7fffd4;
  border-radius: 3px;
  border: none !important;
  width: 100%;
  margin-top: 3% ;
  

} 

.ql-editor {
  width: 100%;
  min-height: 86vh;
  height: 10px;
  
}

.single-note-container {
  display: flex;
  width: 88%;
  height: 100%;
  flex-wrap: wrap;
}


.ql-container.ql-snow{
  width: 100%;
  margin-left: 0.00005%;

  height: 86vh;
  box-shadow: 8px 6px 6px rgba(68, 68, 68, 0.164), 0 6px 6px rgba(61, 61, 61, 0.158);
}

.notes {
  margin-bottom: 50px ;
}

.save {
  border: none;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  color: black;
  height: 60px;
  width: 150px;
  margin-top: 39%;
  background-color: aquamarine;
  font-weight: bold;
  font-size: large;
  transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 6px 6px rgba(29, 29, 29, 0.19), 0 6px 6px rgba(39, 39, 39, 0.23);
}

.save:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
}

.quill {
  width: 40% !important;
}

.title {
  word-wrap: break-word;
  width: 10%;
  margin-top: 3%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}



.something {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 350px;
  background-color: #747474;
  width: 400px;
  margin-left: 80vh;
  border-radius: 8px;
  padding: 20px;
  color: whitesmoke;
}

/* .something button {
  border: none;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  color: black;
  height: 30px;
  width: 100px;
  margin-top: 10%;
  margin-left: 32%;
  background-color: aquamarine;
  font-weight: bold;
  font-size: small;
  transition: all 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  box-shadow: 0 6px 6px rgba(29, 29, 29, 0.19), 0 6px 6px rgba(39, 39, 39, 0.23);
}

.something button:hover {
  color: rgb(245, 245, 245);
  background-color: #c885ff
} */