.note-create {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  cursor: pointer;
  color: aquamarine;
  font-size: 40px;
  width: fit-content;
  
}

.create {
  width: 50px;
}

.note-create:hover {
  color:#c885ff;
  font-size: 48px;
}

.notebook-notes-container {
  display: flex;
  flex-direction: row;
}