#root {
  overflow-x: hidden;
}


.notebook-notes-container {
  display: flex;
  margin-left: 5%;
  width: 100%;
  height: 800px;
  margin-top: 60px;
  -webkit-animation: anvil .2s cubic-bezier(.38,.1,.36,.9) forwards;
  
}

.notebook-bar {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 10px;
  width: 250px;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 5%;
  box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.404), 0 6px 6px rgba(0, 0, 0, 0.295);
  height: 87.5%;
}

.nb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(75, 70, 70, 0.459);
  margin: 13px;
  border-radius: 10px;
  width: 250px;
  overflow-x: hidden;
  word-break: break-all;
  transition: all 0.3s;
}

.nb-container:hover {
  background-color: rgb(75, 70, 70);;
}

.notebook-icons {
  display: flex;
  width: 100px;
  justify-content: space-around;
  margin: 10px;
  color: rgba(240, 248, 255, 0.527);
  font-size: large;

}

.notebook-icons .icon {
  transition: all .4s;
  font-size: large;
}

.notebook-icons .icon:hover {
  color: aliceblue;
  cursor: pointer;
}

.animation {
  -webkit-animation: anvil .6s cubic-bezier(.38,.1,.36,.9) forwards;
}
