.notebook-notes-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-height: 90%;
  min-height: 90% ;
}

.notebook-bar {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 18px;
  margin-right: -400px;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.notebook-bar a {
  padding: 18px;
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  height: max-content;
  display: flex;
  justify-content: center;
}

.notebook-bar a:hover {
  background-color: rgb(95, 95, 95);

}

.notebook-icons {
  display: flex;
  width: 100px;
  justify-content: space-around;
  margin: 10px;
  color: rgba(240, 248, 255, 0.527);
  font-size: large;

}

.notebook-icons .icon {
  transition: all .4s;
  font-size: large;
}

.notebook-icons .icon:hover {
  color: aliceblue;
  cursor: pointer;
 
}